p
{
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

th
{
    font-weight: normal;
    text-align: left;
}

td:not(:first-child)
{
    padding-left: 30px;
}

.about-img, .about-caption, .about-button
{
    margin: 2em;
}

.about-img
{
    display: block;
}

.about-info > *
{
    padding-top: 1em;
    padding-bottom: 1em;
}

.about-info > *:not(:last-child)
{
    border-bottom: 2px solid black;
}
