
p
{
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

th
{
    font-weight: normal;
    text-align: left;
}

td:not(:first-child)
{
    padding-left: 30px;
}

.about
{
    position: relative;
    z-index: 10;
}

.about > *
{
    margin: 1em;
}

.about figure
{
    position: relative;
    margin-bottom: 5em;
}

.about-caption, .about-button
{
    margin-left: 1em;
}

.about-img
{
    width: calc(15% - 2vw);
    position: absolute;
    margin-left: auto;
	margin-right: auto;

	max-width: 100%;
	display: block;
	height: auto;
}

.about-caption
{
    position: relative;
    left: 15%;
    width: calc(70% - 4vw);
}

.about-button
{
    position: absolute;
    top: 0;
    right: 0;
    width: calc(15% - 2vw);
}

.about-info
{
    margin-left: calc(15% + 1.8em);
}

.about-info > *:not(:last-child)
{
    border-bottom: 2px solid black;
    padding-bottom: 5px;
}
