.about-window
{
    max-width: 60em;
    margin-left: auto;
	margin-right: auto;
}

table
{
    margin-left: auto;
	margin-right: auto;
}

.about > :last-child
{
    margin-bottom: 5em;
}

.about
{
    text-align: center;
}

.about-button
{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 10em;
    margin-left: calc(50% - 5em);
    margin-right: calc(50% - 5em);
}

.about-img
{
    position: relative;
    margin-left: auto;
	margin-right: auto;

	max-width: 100%;
	height: auto;
}
