body
{
    display: flex;
    min-height: 98vh;
    flex-direction: column;
    justify-content: space-between;
}

main
{
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    gap: 5em;
}

.nav-link
{
    text-align: center;
}

.nav-link figure > *
{
    width: 8em;
    height: auto;
}

footer
{
    margin: 0 auto;
    width: 94vw;
    max-width: 80em;
}