section
{
    scroll-margin-top: 7em;
    margin: 2em;
}

iframe
{
    display:block;
    margin: auto;
}

form
{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: baseline;
}

form > *
{
    margin: 1em;
}

form > input[type = email]
{
    flex-grow: 1;
}

p
{
    text-align: justify;
}

.fullscreen > main
{
    margin: 3em;
}

@media screen and (max-width: 53em)
{
    #vid_link
    {
        overflow: hidden;
        padding-top: 70%;
        position: relative;
    }

    #vid_link iframe
    {
        border: 0;
        height: 100%;
        left: 0;
        position: absolute;
        top: 0;
        width: 100%;
    }
}