
body > nav
{
    position: fixed;
    top: 0;
    left:0;
    width: 100vw;
    z-index: 10;
    background-color: #c0c0c0;

    display: flex;
    justify-content: center;

    border-bottom: 1px solid black;
}

body > nav + *
{
    margin-top: 6.66em;
}

body > nav + * > section
{
    scroll-margin-top: 6.66em;
}

.nav-link
{
    text-align: center;
}

.nav-link svg
{
    width: 2.3em;
    height: auto;
}

#welcome-section
{
    height: 100vh;
    max-width: 60em;
    position: relative;
    text-align: justify;
}

#welcome-section > #selfie
{
    position: absolute;
    top: 4em;
    right: 5%;
    width: 25em;
    height: auto;
    max-height: 80vh;
}

#welcome-section > #about
{
    position: absolute;
    top: calc(40vh - 7.5em);
    left: 5%;
    width: 25em;
    height: 15em;
    font-size: larger;
    z-index: 2;
}

#welcome-section > #useful
{
    position: absolute;
    bottom: 14em;
    left: calc(53% - 12.5em);
    width: 25em;
    height: 8em;
}

#welcome-section > #why
{
    position: absolute;
    bottom: 8.5em;
    left: calc(50% - 12.5em);
    width: 25em;
    height: 8em;
}

#welcome-section > #lorem
{
    z-index: -1;
    position: absolute;
    top: 38%;
    right: calc(50% - 45vw);
    width: 40em;
}

#welcome-section > #prompt
{
    z-index: -1;
    position: absolute;
    top: 5%;
    left: calc(50% - 45vw);
    width: 40em;
    min-height: 45%;

    background-color: black;
    color: white;

    align-content: flex-start;
}

#prompt .branding
{
    display: flex;
    gap: 1em;
    width: 100%;
}

#welcome-section > #prompt ul
{
    border: white double;
    padding: 1em 2em 1em 3em;
}

#welcome-section > #prompt li
{
    list-style-type: square;
}

#projects
{
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
}

.project-tile > *:not(header)
{
    margin: 1em;
}

.project-tile
{
    width: 47%;
}

.project-tile > *:not(header)
{
    margin: 1em;
}

.project-tile:hover > .titlebar
{
	background-color: #000080;
	color: white;
	margin: 0px;
    font-weight: bold;
}

.big-pic
{
    width: 100%;
    flex-grow: 1;
    border: solid 1px black;
}

.links
{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.links > *
{
    width: 30%;
    flex-grow: 1;
}

.links > *:nth-child(n+2)
{
    margin-left: 1em;
}
