@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

:root {
    --header-height: 48px;
  }

body
{
	background-color: #c0c0c0;
	font-family: 'Press Start 2P', sans-serif;
}

.infobox, .menubox
{
    position: relative;
	margin: 1vw;
    background-color: white;
    width: 94vw;
}

.menubox::before
{
    content: '';
    position: absolute;
    top: -10px;
    left: -10px;
    width: calc(100% - 100px);
    height: calc(100% - 100px);

    border: 60px solid;
    border-image: url("assets/menubox-border.svg") 61;
}

.fullscreen header
{
    position: fixed;
    top: calc(1vw);
    left: calc(1vw + 8px);
    width: calc(94vw);

    box-shadow: 0 -20px 0 20px #c0c0c0;
}

.fullscreen header::before
{
    content: '';
    position: absolute;
    top: -10px;
    left: -10px;
    width: calc(100% - 100px);
    height: calc(100% - 100px);

    border-width: 60px;
    border-style: solid;
    border-image: url("assets/menubox-border-top.svg") 61;
}

.titlebar
{
	display: flex;
}

.titlebar > *
{
	flex-grow : 1;
	border-bottom: 2px solid black;
}

.titlebar img
{
	flex-grow : 0;
	height: var(--header-height);
	border-right: 2px solid black;
}

.infobox.active .titlebar, .menubox.active .titlebar
{
	background-color: #000080;
	color: white;
	text-align: center;
	margin: 0px;
}

.titlebar h1
{
	margin: 5px 0 0 0;
}

.infobox.active
{
	border: 10px solid #000080;
	padding: 2px;
}

nav
{
    display: flex;
    flex-wrap: wrap;
    background-color: white;
    border-bottom: 2px solid black;
}

nav > *
{
    padding: 0.3em 1em;
}

.button, button, input[type = submit]
{
    width: 100%;
    font-family: 'Press Start 2P', sans-serif;
    font-size: 1em;
    text-align: center;
    padding: 5px;

    background-color: #c0c0c0;
    border-style: outset;
    border-color: white #808080 #808080 white;
    border-width: 3px;
    position: relative;
    z-index: auto;
}

.button:active, button:active, input[type = submit]:active
{
    padding: 8px 5px 2px 8px;
    border-style: outset solid solid outset;
    border-color: #808080 #c0c0c0 #c0c0c0 #808080;
}

.button::after, button::after
{
    content: '';
    display: block;
    position: absolute;
    top: -6px;
    left: -6px;
    width: calc(100% + 12px);
    height: calc(100% + 12px);
    border-radius: 5px;
    background: black;
    z-index: -1;
}

.button-shadow
{
    content: '';
    display: block;
    border-radius: 5px;
    background: black;
    padding: 3px;
}

input[type=text], input[type=email], input[type=number], select
{
    border: 2px solid black;
    font-family: inherit;
    font-size: 1em;
    padding: 0.2em;
    margin: 0.2em;
    background-color: white;
    height: 2em;
    box-sizing: content-box;
}

textarea
{
    border: 2px solid black;
}

select *
{
    color: black;
    background-color: white;
}

.drop
{
    position: relative;
    display: inline-block;
}
select
{
    display: inline-block;
    height: 2em;
    width: 150px;
    outline: none;
    color: black;
}

.drop::before
{
    content: '';
    width: calc(2.4em + 4px);
    height: calc(2.4em + 4px);
    position: absolute;
    display: block;
    top: 0;
    right: 0;
    margin: 0.2em;
    background: url("assets/drop-arrow.svg") center / calc(100% - 4px) no-repeat black;
    pointer-events: none;
}

input[type=radio]
{
    position:absolute;
    opacity: 0;
    z-index: -9999;
}

.radio-label
{
    position: relative;
    padding-left: 2em;
    display: block;
}

.radio-label::before
{
    content: '';
    display: block;
    position: absolute;
    top: -0.25em;
    left: 0;
    width: 1em;
    height: 1em;
    background: white;
    border: 2px solid black;
    border-radius: 50%;
}

input[type=radio]:checked + .radio-label::before
{
    box-shadow: inset 0 0 0 0.2em white, 
                inset 0px 0px 0.2em 1em black;
}

input[type=checkbox]
{
    position:absolute;
    opacity: 0;
    z-index: -9999;
}

.checkbox-label
{
    position: relative;
    padding-left: 2em;
    display: block;
}

.checkbox-label::before
{
    content: '';
    display: block;
    position: absolute;
    top: -0.25em;
    left: 0;
    width: 1em;
    height: 1em;
    background: white;
    border: 2px solid black;
}

input[type=checkbox]:checked + .checkbox-label::before
{
    background-image: url("assets/checkboxx.svg");
}